<div class="row">
    <div class="col-xs-12 col-md-9 col-md-push-3">
        <div id="gameCont"></div>
    </div>
    <div class="col-xs-12 col-md-3 col-md-pull-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                Log
                <a id="accordToggleIcon" class="glyphicon glyphicon-chevron-down pull-right buttonIcons visible-xs" role="button" data-toggle="collapse" href="#divLogBody" aria-expanded="true" aria-controls="divLogBody">
                </a>
            </div>
            <div class="panel-body" id="divLogBody">
                <div id="divLog" class="form-group" style="overflow-y:scroll;height:540px">

                </div>
                <div class="row">
                    <div class="col-xs-9 col-md-10"><input id="msgToSend" class="form-control" type="text" placeholder="type message here" value="" /></div>
                    <div class="col-xs-3 col-md-2"><button id="sendMsg" type="button" class="btn btn-info glyphicon glyphicon-send"></button></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        Endgame scoring:
                        <ul>
                            <li>Each completed row: +2 VP</li>
                            <li>Each completed column: +7 VP</li>
                            <li>Each set of completed colors: +10 VP</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
