@model Azul.Models.Tile[]

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-1">
            @if (item != null && !string.IsNullOrWhiteSpace(item.ImgUrl))
            {
                <img src="@item.ImgUrl" width="31" />
            }
            else
            {
                <div style="width:31px;height:31px; border:1px solid black"></div>
            }
        </div>
    }
</div>

