
@{
    ViewBag.Title = "Azul";
}

<br />

<div class="row form-group" id="waitingRoom">
    <div class="col-md-12">
        <input id="start" type="button" class="btn btn-success" value="Start Game" />
    </div>
</div>

<div id="showPlayArea">
    @Html.Partial("_gameChatAndGame", "Game")
</div>

<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-md-6">
            GameID: <span id="gameIdTxt" style="font-weight:bold"></span>
        </div>
        <div class="col-md-6">
            <input id="leaveRoom" type="button" class="btn btn-danger pull-right" value="Leave Room" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Player: <span id="gameNameTxt" style="font-weight:bold"></span>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function updateScrollDivLog() {
            var element = document.getElementById("divLog");
            element.scrollTop = element.scrollHeight;
        }

        function disableActions(){
            $(".gameControls").prop('disabled', 'disabled');
        }

        function callGameRefresh()
        {
            $.ajax({
                method: "get",
                url: "/Game",
            }).done(function (result) {
                $("#gameCont").html(result);

                if ($.cookie('gameName') != $(".glow").html()) {
                    $(".rowSelect").parent().remove();
                }
            });
        }

        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.gameHub;

            var gameId = $.cookie('gameId');
            var gameName = $.cookie('gameName');

            $("#gameIdTxt").html(gameId);
            $("#gameNameTxt").html(gameName);

            // Dati di connessione
            chat.state.gameId = gameId;
            chat.state.name = gameName;

            // Funzioni di ritorno
            chat.client.showMessage = function (data) {
                $("#divLog").append("<div>" + data + "<div/>");
                updateScrollDivLog();
            };

            chat.client.gameStarted = function (gameId) {
                $('#waitingRoom').remove();
            };

            //chat.client.refreshDrawnCards = function () {
            //    $(".gameControls").prop('disabled', false);
            //}

            chat.client.refreshGameForAll = function () {
                callGameRefresh();
            }

            // Avvio connessione.
            $.connection.hub.start().done(function () {
                chat.server.join(chat.state.gameId);
                chat.server.hasJoined();

                $('#start').click(function () {
                    chat.server.startGame();

                    // Chiamata AJAX a metodo per rimuovere da file il gioco
                    $.get('/Game/GameStarted?gameId=' + chat.state.gameId);
                });

                $(document).on("click", '.rowSelect', function (event) {
                    if ($('.selectedItems').length > 0) {
                        var rowSelected = $(this).data('rowselected');
                        var rowInfo = rowSelected.split("-");
                        var exposNumber = $('.selectedItems').first().data('exposnumber');
                        var color = $('.selectedItems').first().data('color');

                        $(".selectable").removeClass('selectedItems');

                        if (exposNumber == -1) {
                            chat.server.takeFromCenterTable(gameId, rowInfo[1], color);
                        }
                        else {
                            chat.server.takeFromExpositor(gameId, exposNumber, rowInfo[1], color);
                        }
                    }
                    else {
                        alert("Please select tiles from an expositor or center table.");
                    }
                });
            });

            $(document).on("click", '.selectable', function (event) {
                $(".selectable").removeClass('selectedItems');

                var colorSelected = $(this).data('color');

                var parent = $(this).parent();
                parent.children("." + colorSelected).addClass('selectedItems');
            });

            $("#accordToggleIcon").click(function () {
                $(this).toggleClass("glyphicon-chevron-down");
                $(this).toggleClass("glyphicon-chevron-up");
            });

            //callGameRefresh();
        });
    </script>
}
